 footer{
     background: #00221C;
     padding: 3rem 0;/* top&botom, left&right*/
     text-align: center;
     font-size: 0.98rem;
     margin-top: 7rem;
 }
 
 footer a{
     color: #E3E7F1;
 }
footer a:hover{
    color: #FA26A0;
}
 .footer__logo{
     font-size: 2rem;
     font-weight: 500;
     margin-bottom: 2rem;
     display: inline-block;
 }

 .permalinks{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 2rem;
     margin: 0 auto 3rem;    
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a{
    background: #08313A;
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover{
    background-color: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

/* footer copyright */
.footer__copyright{
   margin-bottom: 4rem;
   color: var(--color-bg);
}

/*--------------media queries(Medium devices- tablet)-----------------*/

/*looks good on tablet*/
/*------------media queries(small devices- mobile phones)-------------------*/
@media screen and (max-width: 600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer__socials{
        margin-bottom: 2.6rem;
    }
      
}
